# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
Makefile.am.user
# Qt-es

config.h
config.h.in~

stamp-h1

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.dirstamp
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*



Makefile.user.*
autom4te.cache/
config.log
config.status
.deps/
.idea/

src/chain_action/.deps/
src/chain_action/.dirstamp


Makefile.user

*.pyc

Makefile

src/Makefile
src/keepaway.sh
src/sample_coach
src/sample_player
src/sample_trainer
src/start.sh
src/train.sh

CMakeLists.txt

